
    <div>
        <iframe src="https://calendar.google.com/calendar/embed?title=AWA%20VT16%20-%20C%23%20.NET&amp;showPrint=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;hl=sv&amp;bgcolor=%23FFFFFF&amp;src=qd4g3h2qi5vh2t873katrenqko%40group.calendar.google.com&amp;color=%23060D5E&amp;src=en.swedish%23holiday%40group.v.calendar.google.com&amp;color=%23711616&amp;src=e_2_en%23weeknum%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=Europe%2FStockholm" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
