@model ChangePasswordVM

<div style="float:left; width:40%">
    <form asp-controller="Account" asp-action="EditPassword">
        <div asp-validation-summary="ValidationSummary.ModelOnly"></div>
        <label asp-for="OldPassword"></label>
        <input asp-for="OldPassword" class="form-control">
        <span asp-validation-for="OldPassword"></span>
        <br />
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control">
        <span asp-validation-for="NewPassword"></span>
        <br />
        <label asp-for="ConfirmNewPassword"></label>
        <input asp-for="ConfirmNewPassword" class="form-control">
        <span asp-validation-for="ConfirmNewPassword"></span>
        <br />

        <div class="modal-footer">
            <input id="submitAdmin" type="submit" class="btn btn-success" value="Ändra lösenord" />
        </div>
    </form>
</div>
