@model ChangePasswordVM
<div id="editPasswordDiv">
    <div style="float:left; width:40%">
        <form>
            <div asp-validation-summary="ValidationSummary.All"></div>
            <label asp-for="OldPassword"></label>
            <input asp-for="OldPassword" class="form-control" id="oldPassword">
            <span asp-validation-for="OldPassword"></span>
            <br />
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" class="form-control" id="newPassword">
            <span asp-validation-for="NewPassword"></span>
            <br />
            <label asp-for="ConfirmNewPassword"></label>
            <input asp-for="ConfirmNewPassword" class="form-control" id="confirmNewPassword">
            <span asp-validation-for="ConfirmNewPassword"></span>
            <br />
            @if (ViewData["Password"] != null)
            {
                <div class="logoColorFont">Lösenordet uppdaterades. ☺</div>
            }
            <div class="modal-footer">
                <input id="submitAdmin" class="btn btn-success" value="Ändra lösenord" onclick="editPassword(event)" />
            </div>
        </form>
    </div>
</div>