@model MessageVM
<script src="~/scripts/tinymce/tinymce.min.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.js"></script>
<script>
    tinymce.init({
        selector: '#mytextarea',
        height: "400",
        fontsize_format: '12pt',
        toolbar: 'undo redo bold italic bullist numlist outdent indent code',
        menubar: ''
    });

    $(document).on('change', '.btn-file :file', function () {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
    });

    $(document).ready(function () {
        $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }
        });
    });
</script>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="messageModal-label">Skriv inlägg</h4>
            </div>
            <form asp-controller="Home" asp-action="PostMessage">
                <div class="modal-body">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" />
                    <span asp-validation-for="Title"></span>
                    <textarea id="mytextarea" asp-for="MessageBody"></textarea>
                    <label asp-for="OnFirstPage"></label>
                    <input asp-for="OnFirstPage" />

                </div>

                <div class="modal-footer">
                    <div style="float:left width:40%" >
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn logoColorBackground btn-file">
                                    Välj Bild&hellip;<input id="uploadPicture" type="file" formenctype="multipart/form-data">
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly>
                        </div>
                        @if (ViewData["messageStatus"] != null)
                        {
                            @ViewData["messageStatus"];
                        }
                    </div>
                    <br />
                    <div style="float:right">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Avbryt</button>
                        <button type="submit" class="btn logoColorBackground">Post</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>