@model MessageVM
<script src="~/scripts/tinymce/tinymce.min.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.js"></script>
<script>
    tinymce.init({
        selector: '#mytextarea',
        height: "400",
        fontsize_format: '12pt',
        toolbar: 'undo redo bold italic bullist numlist outdent indent code',
        menubar: ''
    });

    $(document).on('change', '.btn-file :file', function () {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
    });

    $(document).ready(function () {
        $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }
        });
    });
</script>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="messageModal-label">Skriv inlägg</h4>
            </div>
            <form asp-controller="Home" asp-action="PostMessage" enctype="multipart/form-data" id="newMessageForm">
                <div class="modal-body">
                    <label asp-for="Title"></label>
                    <div style="width:40%">
                        <input asp-for="Title" class="form-control" />
                    </div>
                    <br />
                    <span asp-validation-for="Title"></span>
                    <textarea id="mytextarea" asp-for="MessageBody"></textarea>
                    <label asp-for="OnFirstPage"></label>
                    <input asp-for="OnFirstPage" />
                    <div class="dropdown has-feedback">
                        <label asp-for="Receiver"></label>
                        <input asp-for="Receiver" type="text" id="receiver" placeholder="Mottagare" class="form-control dropdown-menu-right dropdown-toggle" data-toggle="dropdown" data-val="true" name="Receiver" /><i id="arrow" class="glyphicon glyphicon-triangle-bottom form-control-feedback"></i>
                        <span asp-validation-for="Receiver"></span>
                        <ul id="listReceiver" class="dropdown-menu">
                            @foreach (var c in Model.Groups)
                            {
                                <li id="@c" class="listObject" onclick="ChooseReceiver('@c')">@c</li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="modal-footer">
                    <div style="float:left; width:40%" >
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn logoColorBackground btn-file">
                                    Välj Bild&hellip;<input name="messagePicture" id="uploadPicture" type="file" />
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly>
                        </div>
                        @if (ViewData["messageStatus"] != null)
                        {
                            @ViewData["messageStatus"];
                        }
                    </div>
                    <div style="float:right">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Avbryt</button>
                        <input value="Post" class="btn logoColorBackground" onclick="ConfirmMessagePost()"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>