@model List<GroupVM>

<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.js"></script>

<div class="modal fade" id="joinGroupModal" tabindex="-1" role="dialog" aria-labelledby="joinGroupModal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="joinGroupModal-label">Gå med i grupp</h4>
            </div>
            <form asp-controller="Home" asp-action="JoinGroup" enctype="multipart/form-data" id="joinGroupForm">
                <div class="modal-body">
                    <div class="dropdown has-feedback">
                        <datalist class="logoColorBackground" id="Groups">
                            @foreach (var GroupVM in Model)
                            {
                                <option class="GroupsClass" id="@GroupVM.Id" value="@GroupVM.GroupName" />
                            }
                        </datalist>
                        <div>
                            <input style="width:40%" class="form-control" type="text" placeholder="Välj grupp" list="Groups" id="groupInput" />@*<i class="glyphicon glyphicon-triangle-bottom form-control-feedback"></i>*@
                            <div id="errorMessageGroup"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="float:left; width:40%">
                        @if (ViewData["messageStatus"] != null)
                        {
                            @ViewData["messageStatus"];
                        }
                    </div>
                    <div style="float:right">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Avbryt</button>
                        <input value="Gå med i grupp" class="btn logoColorBackground" onclick="ConfirmGroupJoin()" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>