
/* Responsive iFrame */
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

    .responsive-iframe-container iframe,
    .vresponsive-iframe-container object,
    .vresponsive-iframe-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

*/
/*CSS för fileupload*/
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.field-validation-error {
    color: red;
    font-weight: bold;
}

#validation ul {
    color: red;
    list-style-type: none;
}

.logoColorFont {
    color: #00AA3C;
}

.logoColorBackground {
    background-color: #00AA3C;
    color: #FFFFFF !important;
}

    .logoColorBackground:hover {
        background-color: #00AA3C;
        color: #FFFFFF !important;
    }

.extraTopPadding {
    padding-top: 9%;
    width: 40%;
    margin: auto;
}

@media (max-width: 550px) {
    .big-container {
        display: none;
    }
}

@media (min-width: 550px) {
    .small-container {
        display: none;
    }
}
/* Responsive iFrame */
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

    .responsive-iframe-container iframe,
    .vresponsive-iframe-container object,
    .vresponsive-iframe-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.listObject {
    background-color: #fff;
    padding: 8px;
}

    .listObject:hover {
        background-color: #ece8e5;
        font-weight: bold;
        cursor: pointer;
    }

#arrow {
    color: #808080;
}

    #arrow:hover {
        color: #000000;
        cursor: pointer !important;
    }

#loader {
    position: fixed; /* or absolute */
    top: 45%;
    left: 45%;
    z-index: 100;
    max-width: 100px;
    height: auto;
}

.ourJumbotron1 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-bottom: 20px !important;
    background-color: #ffffff !important;
}

    .ourJumbotron1 hr {
        border-color: #ebeae8;
    }

.ourJumbotron2 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-bottom: 20px !important;
    background-color: #fafafa !important;
}

    .ourJumbotron2 hr {
        border-color: #ebeae8;
    }
    .label{
        opacity:0.7 !important;
    }

.fixChat2 {
    margin-bottom:3%;
}

.fixChat {
    margin-left:30%;
    padding-left:2px;
    padding-right:2px;
    width:40%;
    background-color:#ece8e5;
    border-radius:3px;
}