<html xmlns="http://www.w3.org/1999/xhtml">
@model LoginVM
    @{
        Layout = "_LoginLayout";
    }

    <head>
        <title>Aw academy Login</title>
    </head>
    <body>
        <div class="container text-center" style="margin:auto">
            <br />
            <br />
            @if (ViewData["FirstTime"] != null)
            {
                <div class="logoColorFont"><h3>Dina användaruppgifter är uppdaterade,<br /> Var god logga in igen för att ta del av sidan</h3></div>
            }
            <h1 style="color:#00AA3C">Inloggning</h1>
            <div style="width:32%; margin:auto">
                <form asp-controller="Account" asp-action="Login">
                    <br />
                    <label asp-for="EMail"></label>
                    <input asp-for="EMail" class="form-control">
                    <span asp-validation-for="EMail"></span>
                    <br />
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password"></span>
                    <br />
                    <div class="modal-footer">
                        <div style="float:left"><a href="/account/resetPassword">Glömt lösenordet?</a></div>
                        <div style="float:right">
                            <input id="submitAdmin" type="submit" class="btn btn-success" value="Logga in" />
                        </div></div>
                    <div id="validation" asp-validation-summary="ValidationSummary.All"></div>
                </form>
            </div>
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
            <br />
        </div>
    </body>
</html>