<html xmlns="http://www.w3.org/1999/xhtml">
@model ResetPasswordVM
@{
    Layout = "_LoginLayout";
}

<head>
    <title>Aw academy Login</title>
</head>
<body>
    <div class="container text-center" style="margin:auto">
        <br />
        <br />
        <h1 style="color:#00AA3C">Återställ lösenord</h1>
        <div style="width:32%; margin:auto">
            <form asp-controller="Account" asp-action="ResetPassword">
                <label asp-for="EMail"></label>
                <input asp-for="EMail" class="form-control">
                <span asp-validation-for="EMail"></span>
                <div class="modal-footer">
                    <input id="submitAdmin" type="submit" class="btn btn-success" value="Skicka nytt lösenord"/>
                </div>
                <div id="validation" asp-validation-summary="ValidationSummary.All"></div>
            </form>
        </div>
        <br /><br />
        <br /><br />
        <br /><br />
        <br /><br />
        <br />
    </div>
</body>
</html>