<div class="container">
    <table>
        @*@foreach (var message in messageCollection)
        {

            <tr>
                <td>
                    <h4>@Model.Sender @Model.DateTime @Model.Picture</h4>
                </td>
            </tr>
            <tr>
                <td>@Model.Message</td>
            </tr>
        }*@

    </table>
</div>
