@model List<MessageVM>

<div class="container">
    <button onclick="showMessageModal()" class="btn logoColorBackground">Skriv meddelande</button>
    <table class="table-bordered">
        @foreach (var message in Model)
        {
            <tr>
                <td>
                    <h4>@message.FullName @message.TimeCreated </h4>
                </td>
            </tr>
            <tr>
                <td>
                    <p>@message.ImageLink</p>
                </td>
            </tr>
            <tr>
                <td>@message.MessageBody</td>
            </tr>
        }
    </table>
</div>
