@model List<MessageVM>

<div class="container">
    <button onclick="showMessageModal()" class="btn logoColorBackground">Skriv meddelande</button>
    <br />
    <div class="list-group-item-heading">
        @*@{
            int counter = 0;
            string jumbotronClass = "";
        }*@
        @foreach (var message in Model)
        {
            //if (counter % 2 > 0)
            //{
            //    jumbotronClass = "ourJumbotron1";
            //}
            //else
            //{
            //    jumbotronClass = "ourJumbotron2";

            //}
            //counter++;
            <div class="jumbotron ourJumbotron1">


                <div>
                    <h2 class="label label-info">@message.FullName</h2>
                    <hr />
                </div>

                <div>
                    <p>@message.ImageLink</p>
                </div>

                <div>@Html.Raw(message.MessageBody)</div>

                <div style="text-align: right" class="timeStamp">
                    @message.TimeCreated <span class="glyphicon glyphicon-time"></span>
                </div>
            </div>
        }
    </div>
</div>
