@model List<MessageVM>

<div class="container">
    <button onclick="showMessageModal()" class="btn logoColorBackground">Skriv meddelande</button>
    <br />
    <div class="list-group-item-heading">
        @foreach (var message in Model)
        {
            <div class="jumbotron ourJumbotron">
                <div>
                    <h2 class="label label-info">@message.FullName</h2>
                    <hr />
                </div>

                <div>
                    <p>@message.ImageLink</p>
                </div>

                <div>@Html.Raw(message.MessageBody)</div>

                <div style="text-align: right" class="timeStamp">
                    <hr />
                    @message.TimeCreated <span class="glyphicon glyphicon-time"></span>
                </div>
            </div>
        }
    </div>
</div>
